# pixi environments
.pixi

.ipynb_checkpoints
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
htmlcov/
coverage.xml
.coverage
.coverage.*
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest --basetemp
src/hydamo/tests/temp/
src/ribasim_nl/tests/temp/
src/peilbeheerst_model/tests/temp/

src/peilbeheerst_model/*.html
src/peilbeheerst_model/*.code-workspace
src/peilbeheerst_model/.vscode

src/peilbeheerst_model/*.jpeg
src/peilbeheerst_model/*.gpkg
src/peilbeheerst_model/tests_results
/src/peilbeheerst_model/Output_zdrive
/src/peilbeheerst_model/Rekenend_Model_Test
/src/peilbeheerst_model/vervallen

notebooks/rijkswaterstaat/plots/
/random.txt
