# pixi environments
.pixi

# visual studio code
.vscode/settings.json

.ipynb_checkpoints
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
htmlcov/
coverage.xml
.coverage
.coverage.*
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest --basetemp
src/hydamo/tests/temp/
src/ribasim_nl/tests/temp/
