target-version = "py313"
line-length = 120

[lint]
# See https://docs.astral.sh/ruff/rules/
select = ["D", "E", "F", "NPY", "PD", "C4", "I", "UP"]
ignore = [
    "D1",
    "D400",
    "D401",
    "E501", # TODO https://docs.astral.sh/ruff/rules/line-too-long/
    "F403", # TODO https://docs.astral.sh/ruff/rules/undefined-local-with-import-star/
    "F405", # TODO https://docs.astral.sh/ruff/rules/undefined-local-with-import-star-usage/
    "PD002",
    "PD003",
    "PD008",
    "PD009",
    "PD010",
    "PD011",
    "PD013",
    "PD015",
    "PD901",
]
fixable = ["ALL"]

[lint.pydocstyle]
convention = "numpy"
